# 1. Files related to Project Management
# 1.1. System Files
.DS_Store

# 1.2. App-related Files
# 1.2.1. RStudio
.Rhistory
.Rproj.user
*.Rproj

# 1.2.2. VS Code
.vscode/settings.json

# 1.2.3. Python
# 1.2.3.1. Cash Files
**/__pycache__/**
__init__.py

# 1.2.4. Texpad
**/.texpadtmp/**

# 1.2.5. Pycharm
.idea


# 2. Datasets
# ## Note: Data files will be stored in Dropbox.
**/*.zip
**/*.dta
**/*.RData
**/*.parquet

# 2.1. To exclude raw datasets
# 2.1.1. CTU datasets
**/01_Raw-Data/01_Original/CTU/Rate History
**/01_Raw-Data/02_Use/CTU/Rate-History/All*
# 2.1.2. CER datasets
**/01_Raw-Data/02_Use/CER/38_CER Electricity_Gas
# 2.1.3. GRU datasets
**/01_Raw-Data/01_Original/GRU
**/01_Raw-Data/02_Use/GRU/*.csv
**/01_Raw-Data/02_Use/GRU/*.geojson
# 2.1.4. Met-Eireann datasets
**/01_Raw-Data/01_Original/Met-Eireann

# 3. Scripts
# (NOT Applicable)
